div 
{
    overflow-x: auto;
    padding: 70px;
    margin-left: 0;
}

h3 
{
    margin-top: 60px;
    margin-left: 10%;
    margin-bottom: 0;
    font-size: 180%;
    color: rgb(25, 68, 67);
    font-weight: 400;
}

.pop-animation 
{
    position: relative;
    animation: pop 0.7s;
    padding-top: 50px;
    margin-left: 10%;
    padding-left: 0;
}

@keyframes pop 
{
    0% {
      transform: translateY(200%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}

table 
{
    width: 70%;
    height: 185px;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #f0efef;
    font-weight: 400;
    border-radius: 10px;
    overflow: hidden;
}

table td 
{
    padding: 15px;
}

tr:hover 
{
    background-color: #ecf2f7;
}

.table-active 
{
    background-color: rgb(156, 214, 224);
}