/* You can add global styles to this file, and also import other style files */
.body-element
{
    background-color: rgba(132, 189, 189, 0.49);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
