.submit-button
{
    position: relative;
    left: 3px;
    bottom: 2px;

    color: white;
    background-color: darkcyan;
    border:none;
}

.submit-button:hover
{
    background-color: rgb(4, 109, 109);
}

.title
{
    color: rgb(29, 100, 99);
    font-size: 24px;
}

.text
{
    color:rgb(29, 100, 99);
}

.dropdown
{
    position: absolute;
    left: 120px;
    width: 580px;
    height: 40px;

    color: white;
    background-color: rgb(100, 167, 167);
    border: none;
}

.update-doctor
{
    position: absolute;
    left: 900px;
    top: 1300px;
}

.control-group
{
    width: 700px;
    border: solid, 1px;
    border-style: solid;

    border-color:  rgb(29, 100, 99);
}