.submit-button
{
    position: relative;
    left: 3px;
    bottom: 2px;

    color: white;
    background-color: darkcyan;
    border:none;
}

.submit-button:hover
{
    background-color: rgb(4, 109, 109);
}

.title
{
    color: rgb(29, 100, 99);
}

.text
{
    color:rgb(29, 100, 99);
}


.dropdown
{
    position: absolute;
    left: 130px;
    width: 625px;
    height: 40px;

    color: white;
    background-color: rgb(100, 167, 167);
    border: none;
}

.control-group
{
    position: absolute;
    left: 5px;

    width: 750px;

    border: solid, 1px;
    border-style: solid;

    border-color:  rgb(29, 100, 99);
}