h3 
{
    margin-top: 10%;
    text-align: center;
    color: rgb(29, 100, 99);
}

.pop-animation 
{
    position: relative;
    animation: pop 0.7s;
}

@keyframes pop 
{
    0% {
      transform: translateY(200%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
}