<div class = "app-header" *ngIf="(appState$ | async) as appState">    
    <img class="icon" src="./icon.png"> 
    <div class = "company-name">Online Health Center</div>
    <button class="login-button" (click) = "onLoginButtonClick()" id = "login-button">{{ loginButtonText }}</button>
    <div class = "bounding-rectangle"></div>
    <div class = "options-bar">
        <button class="rout-button"  id = "start-page" [routerLink]="['start-page']">Start Page</button>
        <button *ngIf="isPatientLoggedIn(appState) || isNurseLoggedIn(appState)" class="rout-button"  id = "request-appointment-button" [routerLink]="['appointments/request-appointments']">Request Appointment</button>
        <button *ngIf="isUserLoggedIn(appState)" class="rout-button"  id = "schedule-appointments" [routerLink]="['appointments/schedule']">Scheduled</button>
        <button *ngIf="isDoctorLoggedIn(appState)" class="rout-button"  id = "create-report" [routerLink]="['reports/create']">Create Report</button>
        <button *ngIf="isUserLoggedIn(appState)" class="rout-button"  id = "show-reports" [routerLink]="['reports/showAll']">Show Reports</button>
        <button *ngIf="isPatientLoggedIn(appState)" class="rout-button"  id = "leave-impression" [routerLink]="['impressions/leave-impression']">Leave Impression</button>
        <button *ngIf="isUserLoggedIn(appState)" class="rout-button"  id = "user-profile" [routerLink]="['identity/profile']">User Profile</button>
    </div>
    <router-outlet></router-outlet>
</div> 