<br>
<h3>Information about our employees</h3>

<br>

<div>
    <form [formGroup]="EmployeeInformationForm">

        <div class="form-group">
            <label class="form-label">Choose doctor:</label>
            <select formControlName="id" class="form-control" class="dropdown" (change)="onSelectionChanged()">
                <option value="" disabled selected>*Select your doctor</option>
                <option *ngFor="let d of doctors" value="{{d.id}}">({{d.specialty}}) {{d.title}} {{d.firstName}} {{d.lastName}}</option>
            </select>
        </div>
    
        <br>
    
        <div class="information">
    
            <div class = form-group>
                <label class = "form-label">First Name:</label>
                <input type="text" formControlName="firstName" class="form-control" readonly value="{{doctor?.firstName}}">
            </div>
            
            <br>

            <div class = form-group>
                <label class = "form-label">Last Name:</label>
                <input type="text" formControlName="lastName" class="form-control" readonly value="{{doctor?.lastName}}">
            </div>

            <br>
    
            <div class = form-group>
                <label class = "form-label">Tilte:</label>
                <input type="text" formControlName="title" class="form-control" readonly value="{{doctor?.title}}">
            </div>
    
            <br>
    
            <div class = form-group>
                <label class = "form-label">Specialty:</label>
                <input type="text" formControlName="specialty" class="form-control" readonly value="{{doctor?.specialty}}">
            </div>
    
            <br>
    
            <div class = form-group>
                <label class = "form-label">Biography:</label>
                <input type="text" formControlName="biography" class="form-control" readonly value="{{doctor?.biography}}">
            </div>
    
            <br>
    
            <div class = form-group>
                <label class = "form-label">Mark:</label>
                <input type="text" formControlName="mark" class="form-control" readonly value="{{doctor?.mark}}">
            </div>
        </div>
    </form>
</div>