.title {
    color: rgb(29, 100, 99);
    font-size: 24px;
    margin-left: 1px;
}

.dropdown {
    position: relative;
    left: 0;
    width: 732px;
    height: 40px;
    color: white;
    background-color: rgb(100, 167, 167);
}

.information {
    position: absolute;
    margin-left: 0;
    width: 730px;
    border: none;
    color: rgb(29, 100, 99);
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 3px;
}

.chooser {
    margin-left: 0;
}

.text {
    color: rgb(29, 100, 99);
    font-size: 18px;
}

.impressions {
    margin-top: 20px;
}

.impression {
    margin-bottom: 10px;
}

.button-delete
{
    position: absolute;
    
    border: none;

    color: white;
    background-color: darkcyan;   
}

.button-delete:hover
{
    background-color: rgb(149, 22, 22);
}