.title
{
    color: rgb(29, 100, 99);
}

.dropdown
{
    position: relative;
    left: 10px;
    width: 606px;
    height: 40px;

    color: white;
    background-color: rgb(100, 167, 167);
}

.information
{
    position: absolute;
    left: 50px;
    width: 730px;

    border: solid, 1px;
    border-style: solid;

    border-color:  rgb(29, 100, 99);
}

.chooser
{
    position: relative;
    left: 50px;
}

.text
{
    color:rgb(29, 100, 99);
}
