<br>
<h3>Information about our employees</h3>

<br>

<div>
    <form [formGroup]="EmployeeInformationForm">

        <div class="form-group">
            <label class="form-label">Choose doctor:</label>
            <select formControlName="id" class="form-control" class="dropdown" (change)="onSelectionChanged()">
                <option value="" disabled selected>*Select your doctor</option>
                <option *ngFor="let d of doctors" value="{{d.id}}">({{d.specialty}}) {{d.title}} {{d.firstName}} {{d.lastName}}</option>
            </select>
        </div>
    
        <br>
    
        <div class="information">

            <label>Name:</label>
            {{doctor?.firstName}} {{doctor?.lastName}}

            <br>

            <label>Title:</label>
            {{doctor?.title}}

            <br>

            <label>Specialty:</label>
            {{doctor?.specialty}}

            <br>

            <label>Biography:</label>
            {{doctor?.biography}}

            <br>

            <label>Mark:</label>
            {{doctor?.mark}}

            <hr>

            <div class = "impressions">
                <label>Impressions:</label> 
                <div *ngFor="let i of impressions">
                    <br>
                    <div class = "impression">
                    Headline: {{i.headline}} <br>
                    Content: {{i.content}} <br>
                    Mark: {{i.mark}} 
                    </div>
                </div>
            </div>
            
        </div>
    </form>
</div>