.information {
    text-align: left;
    margin: 30px auto;
    padding: 2%;
    border: none;
    color: rgb(29, 100, 99);
    width: 90%;
    border-radius: 3px;
    background-color: #f7f7f7;
}

.text {
    color: rgb(29, 100, 99);
    font-size: 25;
    font-weight: 500;
}

.information p {
    margin: 20px 0;
}

.information i {
    font-style: italic;
}
