<br>
<h2 class="text">Informations about Health Center:</h2>
<div class="information">
    <i>
        Online Health Center is an organized medical service primarly focused on the well-being of our patients.
        In 2002, we designed this first family-oriented, membership-based medical facility that combined evidence,
        empathy, and a curated list of medical specialists. Our Health Center was born from a genuine desire to build
        a new model using our medical expertise, the best of what the hospitality industry had to teach us.
        <br>
        Our team of over 135 physicians, nurses, medical concierge, and support staff work passionately to provide
        a full-service, five-star medical service emphasizing prevention, proactivity, and excellent health outcomes.
        <br>
        We are tech-savvy and embrace safe, effective medical innovation.
        <br><br>
        Health Center is offering diagnostic, therapeutic, or preventive outpatient services to all of our patients.
    </i>
</div>