<h2 class="text" style="text-align: center; padding-top: 2%;">Information about Health Center:</h2>
<div class="information" style="align-items: center;">
    <p>
        <i>
            Online Health Center is an organized medical service primarily focused on the well-being of our patients.
            <br>
            In 2002,
            we designed this first family-oriented, membership-based medical facility that combined evidence, empathy, and a
            curated list of medical specialists. Our Health Center was born from a genuine desire to build a new model using
            our medical expertise, the best of what the hospitality industry had to teach us.
        </i>
    </p>
    <p>
        <i>
            Our team of over 135 physicians, nurses, medical concierge, and support staff work passionately to provide a
            full-service, five-star medical service emphasizing prevention, proactivity, and excellent health outcomes.
        </i>
    </p>
    <p>
        <i>
            We are tech-savvy and embrace safe, effective medical innovation.
        </i>
    </p>
    <br>
    <br>
    <p>
        <i>
            Health Center is offering diagnostic, therapeutic, or preventive outpatient services to all of our patients.
        </i>
    </p>
</div>
