.title
{
    color: rgb(29, 100, 99);
}

.dropdown
{
    position: absolute;
    left: 155px;
    width: 580px;
    height: 40px;

    color: white;
    background-color: rgb(100, 167, 167);
    border: none;
}

.details
{
    position: absolute;
    left: 5px;
    width: 730px;

    border: solid, 1px;
    border-style: solid;

    border-color:  rgb(29, 100, 99);
}

.button-cancel
{
    position: relative;
    left: 10px;
    bottom: 3px;
    
    border: none;

    color: white;
    background-color: darkcyan;
}

.button-cancel:hover
{
    background-color: rgb(4, 109, 109);
}

.button-apply-discount
{
    position: relative;
    left: 5px;
    bottom: 3px;
    
    border: none;

    color: white;
    background-color: darkcyan;   
}

.button-apply-discount:hover
{
    background-color: rgb(4, 109, 109);
}

.button-delete
{
    position: absolute;
    left: 567px;
    bottom: 3px;
    
    border: none;

    color: white;
    background-color: darkcyan;   
}

.button-delete:hover
{
    background-color: rgb(149, 22, 22);
}

.button-approve
{
    position: relative;
    left: 15px;
    bottom: 3px;
    
    border: none;

    color: white;
    background-color: darkcyan; 
}

.button-approve:hover
{
    background-color: rgb(4, 109, 109);
}
