<div *ngIf="(appState$ | async) as appState">
<div class="add-doctor" *ngIf="isNurseLoggedIn(appState)">
    <h3 class="title">Add Doctor:</h3>

<br>


<form [formGroup]="addDoctorForm" (ngSubmit)="onAddDoctorSubmit()" *ngIf="appState$ | async as appState">
    

    <div class="control-group">

        <div class = form-group>
            <label class = "form-label">Doctor ID:</label>
            <input type="text" formControlName="id" class="form-control">
        </div>

        <br>
    
        <div class = form-group>
            <label class = "form-label">First Name:</label>
            <input type="text" formControlName="firstName" class="form-control">
        </div>
    
        <br>
    
        <div class = form-group>
            <label class = "form-label">Last Name:</label>
            <input type="text" formControlName="lastName" class="form-control">
        </div>
    
        <br>
    
        <div class = form-group>
            <label class = "form-label">Medical Specialty:</label>
            <input type="text" formControlName="medicalSpecialty" class="form-control">
        </div>
    
        <br>

        <div class = form-group>
            <label class = "form-label">Title:</label>
            <input type="text" formControlName="title" class="form-control">
        </div>

        <br>

        <div class = form-group>
            <label class = "form-label">Biography:</label>
            <input type="text" formControlName="biography" class="form-control">
        </div>
    
        <br>
        
        <button type="submit" class="submit-button">Submit Request</button>
        
    </div>

</form>
</div>
</div>
<app-update-doctor-form></app-update-doctor-form>
<router-outlet></router-outlet>