<h1>Join us for a healthier future, today.</h1>

<div class="row">
    <div class="col-6">
        <div class="nav flex-column">
            <div class="col-12">
                <button class="nav-link" (click)="showForm()">Login</button>
            </div>
            <div class="col-12">
                <app-login-form *ngIf="formVisibility"></app-login-form>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="nav flex-column">
            <div class="col-12">
                <a class="nav-link">Register</a>
            </div>
        </div>
    </div>
</div>
