h1
{
    text-align: center;
    color: rgb(29, 100, 99);
    margin-top: 2.5%;
}

.col-12 
{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.nav-link
{
    margin-top: 3%;
}