.submit-button
{
    position: relative;
    bottom: 3px;
    left: 3px; 

    border: none;

    color: white;
    background-color: darkcyan;
}

.title
{
    color: rgb(29, 100, 99);
}

.choose-time-dropdown
{
    position: relative;
    left: 30px;

    width:210px;
    height: 40px;

    color: white;
    background-color: rgb(100, 167, 167);
}

.choose-doctor-dropdown
{
    position: relative;
    left: 20px;

    width: 626px;
    height: 40px;

    color: white;
    background-color: rgb(100, 167, 167);
}

.control-group
{
    position: absolute;
    left: 5px;

    width: 750px;

    border: solid, 1px;
    border-style: solid;

    border-color:  rgb(29, 100, 99);
}

.date-time
{
    position: relative;
    left: 10px;
    
    height: 40px;

    border: none;

    color: white;
    background-color: rgb(100, 167, 167);
}

.choose-label
{
    position: relative;
    left: 20px;
}