<h3 class="title">Please fill in the formular: </h3>

<br>

<form [formGroup]="requestForm" (ngSubmit)="onRequestSubmit()">
    <div class="form-group">
        <label class="form-label"><i>*Your ID: {{patientId}}</i></label>
    </div>

    <div class="form-group">
        <label class="form-label">Choose doctor:</label>
        <select formControlName="doctor" class="form-control" class="choose-doctor-dropdown" (change)="onSelectionChanged()">
            <option value="" disabled selected>*Please select your option</option>
            <option *ngFor="let doctor of doctors" value="{{doctor.id}}">({{doctor.medicalSpecialty}}) {{doctor.title}}
                dr {{doctor.firstName}} {{doctor.lastName}}</option>
        </select>
    </div>

    <br>

    <div class=form-group>
        <label class="form-label">Choose appointment date:</label>
        <input type="date" formControlName="appointmentDate" class="form-control" class="date-time">
        <label class="form-label" class="choose-label">Choose appointment time:</label>
        <select type="text" formControlName="appointmentTime" class="form-control" class="choose-time-dropdown">
            <option value="" disabled selected>*Please select your option</option>
            <option *ngFor="let time of doctorTimes" value="{{time.time}}">{{time.time}}</option>
        </select>
    </div>

    <br>

    <div class="control-group">

        <div class=form-group>
            <label class="form-label">Insert patient ID:</label>
            <input type="text" formControlName="patientID" class="form-control" id="patientID">  
        </div>

        <div class=form-group>
            <label class="form-label">Patient Name:</label>
            <input type="text" formControlName="patientName" class="form-control" id="patientName">  
        </div>

        <div class=form-group>
            <label class="form-label">Initial price:</label>
            <input type="text" class="form-control" readonly value="{{initialPrice}}">
        </div>

        <br>

        <button type="submit" class="submit-button">Submit Request</button>
    </div>

</form>