.impressions
{
    position: absolute;
    left: 800px;
    top: 100px;
}

.text
{
    color:rgb(29, 100, 99);
}

.dropdown
{
    position: absolute;
    left: 210px;
    width: 500px;
    height: 40px;

    color: white;
    background-color: rgb(100, 167, 167);
}

.show-impression-form
{
    position: relative;
    width: 750px;

    border: solid, 1px;
    border-style: solid;
    border-color: rgb(29, 100, 99);

    background-color:  #acd1d0;
}

.button-delete
{
    position: absolute;
    
    border: none;

    color: white;
    background-color: darkcyan;   
}